* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: #262a2f;
}

.container {
    background: white;
    padding: 25px 15px; /* Adjusted padding */
    top: 15%;
    left: 50%;
    width: 80%; /* Changed to a percentage for responsiveness */
    max-width: 400px; /* Added max-width for larger screens */
    position: absolute;
    transform: translate(-50%, 50%);
    border-radius: 10px;
    margin: 0 auto; /* Centering the container */
}

.container p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.container input {
    width: 100%;
    height: 50%;
    border: 1px solid #494eea;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}

.container button {
    width: 100%;
    height: 50%;
    background: #494eea;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    padding: 16px 26px;
    margin-top: 15px;
}

#imgBox {
    width: 100%; /* Adjusted to 100% width */
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

#imgBox img {
    width: 100%;
    padding: 10px;
}

#imgBox.show-img {
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}

/* error animation */
.error {
    animation: shake 0.1s linear 10;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    .container {
        width: 90%; /* Adjusted width for smaller screens */
    }
}
